::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: TechnoHideo;
    src: url(./Fonts/techno_hideo.ttf);
}

@font-face {
    font-family: TechnoHideoBold;
    src: url(./Fonts/techno_hideo_bold.ttf);
}

@font-face {
    font-family: Square;
    src: url(./Fonts/Square.ttf);
}

@keyframes animate {
    0%
    {
        transform: translateY(-10vh) scale(0.05);
    }
    100%
    {
        transform: translateY(100vh) scale(0.05);
    }
}

body {
    background-color: black;
    margin: 0px 0px 0px;
}

.snow {
    position: relative;
    display: flex;
}

.snow span {
    position: relative;
    width: 30px;
    height: 30px;
    background: white;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px white,
    0 0 50px white,
    0 0 100px white;
    animation: animate 15s linear infinite;
    animation-duration: calc(200s / var(--i));
}

.snow span:nth-child(even) {
    background: rgb(230, 230, 230);
}

.title {
    font-family: Square;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 25px;
}

.menu {
    font-family: Square;
    color: white;
    display: flex;
    justify-content: center;
}