
  /* styles for tablet devices */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
      font-size: 14px;
      width: 90%;
      margin: auto;
    }
  }
  
  /* styles for mobile devices */
  @media only screen and (max-width: 767px) {
    body {
      font-size: 12px;
      width: 100%;
      margin: 0;
    }
  }

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: Borned;
    src: url(./Fonts/Borned.ttf);
}

@font-face {
    font-family: TechnoHideo;
    src: url(./Fonts/techno_hideo.ttf);
}

@font-face {
    font-family: TechnoHideoBold;
    src: url(./Fonts/techno_hideo_bold.ttf);
}

@font-face {
    font-family: Square;
    src: url(./Fonts/Square.ttf);
}

@font-face {
    font-family: Snowes;
    src: url(./Fonts/Snowes.ttf);
}

@font-face {
    font-family: Conthrax;
    src: url(./Fonts/Conthrax.otf);
}

@keyframes animate {
    0%
    {
        transform: translateY(-10vh) scale(0.08);
    }
    100%
    {
        transform: translateY(100vh) scale(0.08);
    }
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

body {
    background-color: black;
    margin: 0px 0px 0px;
}

.snow {
    position: relative;
    display: flex;
}

.snow span {
    position: relative;
    width: 30px;
    height: 30px;
    background: white;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px white,
    0 0 50px white,
    0 0 100px white;
    animation: animate 15s linear infinite;
    animation-duration: calc(200s / var(--i));
}

.snow span:nth-child(even) {
    background: rgb(230, 230, 230);
}

.title {
    font-family: Borned;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 25px;
}

.box {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    border: 100px white
}

.box p {
    font-family: Borned;
    color: white;
}